/* sky blue: #78C0E0
celestial blue: #449DD1
persian blue: #192BC2
navy blue: #150578
federal blue: #0E0E52 */


html {
    font-size: 14px; 
    }



body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100%;
      
      
}


/* Style for the header */
header {
    position: fixed;
    top: 0;        
    width: 100%;   
    z-index: 1000; 
    height: auto;
    background-color: #192BC2;
    
    
}

.header-nav {
    text-align: center; 
    padding: 2px; 
    margin-bottom: 10px;
}

.header-nav a {
    color: #ffffff; 
    text-decoration: none; 
    margin: 0 10px; 
    font-size: 1.5rem; 
}

.header-nav a:hover {
    text-decoration: underline; 
}



h1, header p {
text-align: center;
padding-top: 1rem;
margin: 0;
color: #ffffff;

}

.header-icon {
text-align: center;
margin-top: 1rem;
}

.filter-checkbox {
    padding-top: 5rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the footer */
footer {
    position: relative; /* Change from fixed to relative */
    width: 100%;
    z-index: 1000;
    height: 5rem;
    background-color: #192BC2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}




/* Style for the main content */
main {
    margin-top: 7rem;
    
}



/* Style for odd item divs */

/* White background for odd items: */
.main-container .project-card:nth-child(odd) {
    background-color: white; 
} 

/* Blue text color for h2 in odd items: */
.main-container .project-card:nth-child(odd) h2 {
    color: #192BC2; 
}

/* Blue color for links in white background: */
.main-container .project-card:nth-child(odd) a {
    color: #192BC2; 
    text-decoration: underline dotted;
    padding: 0 2px;
    transition: background-color 0.3s, text-decoration 0.3s;
}

/* hover effect for links in odd items: */
.main-container .project-card:nth-child(odd) a:hover {
    text-decoration: none; 
    background-color: #FFDB58; 
    color: #192BC2; 
    padding: 0 2px; 
}

/* Style for even item divs */

/* Blue background for even items: */
.main-container .project-card:nth-child(even) {
    background-color: #192BC2; 
}

/* White text color for h2 in even items: */
.main-container .project-card:nth-child(even) h2 {
    color: white; 
}

/* White color for links in blue background: */
.main-container .project-card:nth-child(even) a {
    color: white; 
    text-decoration: underline dotted;
}

/* hover effect for links in even items: */
.main-container .project-card:nth-child(even) a:hover {
    text-decoration: none; 
    background-color: #F08080; 
    padding: 0; 
}

/* Common h2 style */
h2 {
    font-size: 3rem;
    
}

/* search input */

.search-container {
    text-align: center;
    margin: 20px;
}

#searchInput {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    font-family: Raleway;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Main container  */
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    
    
}

/* Project card  */
.project-card {
    border: 1px solid #192BC2;
    margin: 0.5rem;
    text-align: center;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Initial h3 style (hidden) */
.project-card h3 {
    display: none;
    font-size: 1.5rem;
    color:#150578;
    margin: 0; 
    padding: 0.5rem; 
   
}

/* Hover effect on project cards */

/* Hide h2 on hover */
.project-card:hover h2 {
    display: none; 
}

.project-card:hover .project-logo {
    display: none; 
}

.project-card:hover h3 {
    display: block; /* Show h3 on hover */
}

/* Hover style for h3 in odd items */

/* Blue text color for h3 in odd items: */
.project-card:nth-child(odd):hover h3 {
    color: #192BC2; 
}

/* Hover style for h3 in even items */

/* White text color for h3 in even items */
.project-card:nth-child(even):hover h3 {
    color: white; 
}

.hidden {
    display: none;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.icon {
    padding: 0.25rem;
    
}

.skills {
    background-color: #f8f8f8; 
    padding: 10px;
    text-align: center; 
}

.skills h2 {
    color: #192BC2; 
    margin-bottom: 10px; 
}

.skills-list ul {
    list-style-type: none; 
    padding: 0; 
    display: inline-block; 
    text-align: left; 
}

.skills-list li {
    color: #333; 
    padding: 5px 0; 
    font-size: 16px;
}


.contact-section {
    background-color: #f8f8f8; 
    padding: 10px; 
    text-align: center; 
}

.contact-section h2 {
    color: #192BC2; 
    margin-bottom: 10px; 
}

.ways-to-get-in-touch ul {
    list-style-type: none; 
    padding: 0; 
    display: inline-block; 
    text-align: left; 
}

.ways-to-get-in-touch li {
    color: #333; 
    padding: 5px 0; 
    font-size: 16px; 
}

.ways-to-get-in-touch a {
    color: #192BC2; 
    text-decoration: none; 
}

.ways-to-get-in-touch a:hover {
    text-decoration: underline; 
}


/* media queries */


/* Mobile (Portrait) */
@media only screen and (max-width: 479px) {
    
    body {
        font-size: 12px;
    }
    h2, h3 {
        font-size: 2rem;
    }

    
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* tablet  */
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-gap: 1.25rem; 
        
    }

    h2 {
        font-size: 2.25rem; 
    }

    .filter-checkbox {
        
        margin-top: 1rem;
        font-size: 2rem;
        
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    /*  desktop  */
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
        grid-gap: 1rem; 
        
    }

    h1 {
        font-size: 2.5rem; 
    }

    p {
        font-size: 2rem; 
    }

    .header-text {
        margin: 1rem;
    }

    header {
        height: 15rem;
        
    }

    
    .filter-checkbox {
        
        margin-top: 11rem;
        font-size: 2.5rem;
        
    }

    .project-card {
        padding: 2rem;
    }
}


